
<!-- Container for the Add Treehouse Button -->
<div class="add-treehouse-button-container text-center mt-4">
  <%= link_to "Add treehouse", new_treehouse_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @treehouses.each do |treehouse| %>
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <!-- Card Image -->
          <% if treehouse.photos.attached? %>
            <%= image_tag(cl_image_path(treehouse.photos[0].key, height: 300, crop: :fill), class: 'card-img-top') %>
          <% else %>
            <%= image_tag("https://kagi.com/proxy/01bea499-dff1-4618-b280-65682467d22e.jpeg", class: 'card-img-top') %>
          <% end %>

          <!-- Card Body -->
          <div class="card-body">
            <%= link_to treehouse.name, treehouse_path(treehouse), class: 'card-title h5' %>
            <p class="card-text"><%= treehouse.summary %></p>
          </div>

          <!-- Card Footer for Pricing -->
          <div class="card-footer" id="price">
            <h5 class="card-trip-pricing text-muted">€<%= treehouse.price %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
