<div class="container">
  <h1><%= @treehouse.name %></h1>
      <div>
        <p>Tree Type: <%= @treehouse.tree_type %></p>
        <p>Description: <%= @treehouse.summary %></p>
        <p>Address: <%= @treehouse.address %></p>
        <p>Total occupancy: <%= @treehouse.total_occupancy %></p>
      </div>
</div>
