<div class="container">
  <h1><%= @treehouse.name %></h1>
      <div>
        <p>Tree Type: <%= @treehouse.tree_type %></p>
        <p>Description: <%= @treehouse.summary %></p>
        <p>Address: <%= @treehouse.address %></p>
        <p>Total occupancy: <%= @treehouse.total_occupancy %></p>
        <p>Price: <%= @treehouse.price %></p>
      </div>
</div>

<%= link_to "Book this treehouse", new_treehouse_booking_path(@treehouse) %>

<%= link_to "Back home", treehouses_path %>

<%= link_to "Edit treehouse", edit_treehouse_path %>
<%= link_to "Delete",
  treehouse_path(@treehouse),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this treehouse?"}
%>
