<div class="bookings-container">
  <div class="bookings">
    <h3>Your future treehouse trips:</h3>
    <ul>
      <% if !@bookings.empty? %>
        <% @bookings.each do |booking| %>
          <li>
            <div>
              <p>From: <%= booking.start_date %> To: <%= booking.end_date %></p>
              <p>Status: <%= booking.status %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="booking-requests">
    <h3>Incoming booking requests:</h3>
    <ul>
      <% if !@incoming_bookings.empty? %>
        <% @incoming_bookings.each do |incoming_booking| %>
          <li>
            <p>From: <%= incoming_booking.start_date %> To: <%= incoming_booking.end_date %></p>
            <%= link_to "Accept", booking_accept_path(incoming_booking), data: { turbo_method: :patch }, class: "btn btn-accept" %>
            <%= link_to "Reject", booking_reject_path(incoming_booking), data: { turbo_method: :patch }, class: "btn btn-reject" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
