<nav class="navbar-lewagon">
  <%= link_to treehouses_path do %>
    <img class="navbar-brand" src="<%= asset_path('treelogo.png') %>" width="100" height="100" alt="">
  <% end %>
  <!-- Centered Browse Trees Link -->
  <div class="browse-trees-container">
    <div>
      <%= form_with url: treehouses_path, method: :get, class: "form-search-index d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Browse trees"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>

    </div>
  </div>

  <div class="navbar-nav">
    <ul id="navbar-right-elements" class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to "Log In", new_user_session_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %>
      </li>
    </ul>
  </div>
</nav>
